
body {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-image: url(img/png/textura1.png);
  background-color: rgba(26, 81, 10, 0.896);
}
.bebidasBody{
  background-color:rgb(71, 117, 49);
}

img {
  opacity: 1;
}

.datos {

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu {
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-family: "Bebas neue", sans-serif;
  color: rgb(0, 0, 0);
}
h1 {
  text-decoration: none;
  font-family: "Bebas neue",cursive;
  color: chartreuse;
  font-size: 140px;
}
h2 {
  font-family: "Bebas neue", cursive;
  color: black;
  font-size: 50px;
}
h3 {
  font-family: "Bebas neue", cursive;
  color:chartreuse;
  font-size: 48px;
}
.logo,
.subtitulo {
  
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
}
span {
  font-family: "Bebas neue", cursive;
  list-style: none;
  font-size: 40px;
  color: rgb(255, 225, 0);
  rotate: 10deg;
  scale: 1.2;
}

.detalleMenu {
  display: flex;
  font-size: 25px;
  color:thistle;
  font-family: "Montserrat", cursive;
}
