
body {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-image: url(img/png/textura1.png);
  background-color: rgba(0, 0, 0, 0.896);
  padding: 10px;
}
.bebidasBody{
  background-color:rgb(71, 117, 49);
}

img {
  opacity: 1;
}

.datos {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu {
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 25px;
  margin: 25px;
}
a {
  text-decoration: none;
  font-family: "Montserrat", cursive;
  color: white;
}
.menuPrincipal{
  padding: 50px;
}
h1 {
  text-decoration: none;
  font-family: "Bebas neue",cursive;
  color: yellow;
  font-size: 120px;
}
h2 {
  font-family: "Bebas neue", cursive;
  color: black;
  font-size: 40px;
}
h3 {
  font-family: "Bebas neue", cursive;
  color:chartreuse;
  font-size: 48px;
}

.subtitulo {
  
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
}
span {
  font-family: "Bebas neue", cursive;
  list-style: none;
  font-size: 40px;
  color: yellow(255, 225, 0);
  rotate: 10deg;
  scale: 1.2;
}

.detalleMenu {
  display: flex;
  font-size: 25px;
  color:thistle;
  font-family: "Montserrat", cursive;
}
.logo{
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
